:root {
  --images_gallery__columns: 2;
}


@keyframes rotation{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@mixin spinner {
  position: relative;

  &::after {
    width: 2rem;
    height: 2rem;
    border: .3rem solid #555;
    border-bottom-color: transparent;

    border-radius: 100%;
    position: absolute;
    content: "";

    animation: rotation 0.8s ease-in-out infinite;
    z-index: 1;
  }
}

.image_gallery_spinner {
  width: 2rem;
  height: 2rem;
  max-height: 30%;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: none;

  &:last-of-type {
    display: block;
  }

  @include spinner;
}

[id$=gallery_images_gallery] {
  overflow: visible !important;
  padding: 0;
  width: 100%;

  & > div {
    height: 100%;
    position: relative;
    max-height: 55vh;
    min-height: 450px;
    overflow-y: auto !important;
  }

  & > div > div {
    display: grid;
    grid-template-columns: repeat(var(--images_gallery__columns), 1fr);
    grid-gap: .5rem;

    padding: 0;
    border: 0;
  }
}

[id$=imgButton_images_gallery] {
  background-image: none;
  background-color: transparent;
  position: relative;

  border-radius: .25rem;
  outline: none;

  aspect-ratio: 1 / 1;
  object-fit: fill;

  width: 100%;
  height: 100%;
  padding: 0;

  overflow: hidden;
  cursor: pointer;



  &:hover, &.image_gallery_selectedImageButton,
  &:focus-visible, &:focus-within, &:focus {
    outline: 1px solid #ffc270;

    &.image_gallery_selectedImageButton {
      outline-width: 2px;
    }
  }

  @include spinner;
}

[id$=imgButton_images_gallery] img {
  object-fit: contain;
  max-width: 100%;

  height: 100%;
  width: 100%;

  z-index: 2;
}

[id$=refreshButton_images_gallery] {
  max-width: max-content;
}

[id$=sidePanelButtonsContainer_images_gallery] {
  justify-content: flex-start;
  flex-grow: 0 !important;

  &, & + * {
    align-self: flex-start;
  }
}

[id$=gallery_images_gallery].image_gallery_imageSelectedMode {
  width: max-content;
  margin-right: auto;

  & > div {
    margin-right: auto;
    min-height: 100%;
    max-width: 10vw;
  }

  & > div > div {
    grid-template-columns: 1fr;
    min-height: 100%;
  }
}

[id$=galleryContainer_images_gallery].image_gallery_imageSelectedMode {
  display: flex;
  flex-direction: row-reverse;
}

.image_gallery_selectedImage {
  max-height: 58vh;
  object-fit: contain;
  cursor: pointer;
  margin-right: auto;
  max-width: 80%;
}


body.image_gallery_bigPictureMode {
  overflow: hidden;
}

.image_gallery_bigPictureMode {
  &.image_gallery_bigPictureModeContainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      height: 100%;
      object-fit: contain;
      padding: 30px;
      box-sizing: border-box;
    }
  }
  &.gradio-container {
    overflow: hidden;
    max-height: 100vh;
  }
}
