:root {
  --images_gallery__columns: 2;
}


@keyframes rotation{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@mixin spinner {
  position: relative;

  &::after {
    width: 2rem;
    height: 2rem;
    border: .3rem solid #555;
    border-bottom-color: transparent;

    border-radius: 100%;
    position: absolute;
    content: "";

    animation: rotation 0.8s ease-in-out infinite;
    z-index: 1;
  }
}

.image_gallery_spinner {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: none;

  &:last-of-type {
    display: block;
  }

  @include spinner;
}

[id$=gallery_images_gallery] {
  overflow: visible !important;
  padding: 0;
  width: 100%;

  & > div {
    height: 100%;
    position: relative;
    max-height: 55vh;
    min-height: 450px;
    overflow-y: auto !important;
  }

  & > div > div {
    display: grid;
    grid-template-columns: repeat(var(--images_gallery__columns), 1fr);
    grid-gap: .5rem;

    padding: 0;
    border: 0;
  }
}

[id$=imgButton_images_gallery] {
  background-image: none;
  background-color: transparent;
  position: relative;

  border: 1px solid white;
  border-radius: .25rem;

  aspect-ratio: 1 / 1;
  object-fit: fill;

  width: 100%;
  height: 100%;
  padding: 0;

  overflow: hidden;
  cursor: pointer;

  &:hover {
    border-color: #ffc270;
  }

  @include spinner;
}

[id$=imgButton_images_gallery] img {
  object-fit: contain;
  max-width: 100%;

  height: 100%;
  width: 100%;

  z-index: 2;
}

[id$=refreshButton_images_gallery] {
  max-width: max-content;
}

[id$=sidePanelButtonsContainer_images_gallery] {
  justify-content: flex-end;
}
